# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/*
/.pnp
.pnp.js
/.VSCodeCounter
/.yarn

# testing
/coverage

# production
build/*
dist/*

# Source code files
src/business.logic/error-tracking-example.ts

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# files
public/vite.svg
src/assets/react.svg
src/App.test.tsx.backup
src/designdoc.md
src/business.logic/ERROR_TRACKING_README.md
TESTING_TUTORIAL.md
COMPONENT_TESTING_SUMMARY.md
HELP.md

# Backups
src/App.css.backup
src/App.tsx.backup
