
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Quicksand:wght@600&display=swap");

.youtube, .youtube-iframe {
  height: 100%;
  width: 100%;
}

.new-username {
  color:cornflowerblue;
}