/*  */
@import url('https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp');
@import url('https://fonts.googleapis.com/css?family=Oswald|Concert+One|Montserrat&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Anton|Martel+Sans&display=swap')*/

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: inherit;
  height: inherit;
  position: relative;
  display: table;
}

.json-string {
  color: green;
}

.json-number {
  color: blue;
}

.json-boolean {
  color: orange;
}

.json-null {
  color: gray;
}

.json-brace {
  color: brown;
}
